:host {
    display: flex;
    align-items: flex-start;
    width: 100%;
    .side-bar {
        max-width: 300px;
        width: 100%;
    }
    .page-content {
        padding: 24px;
        width: 100%;
    }
}