:host {
    display: flex;
    align-items: center;
    gap: 24px;
    img {
        width: 112px;
        height: 112px;
        border-radius: 50%;
    }
    div {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}