:host {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;

    img {
        width: 38px;
        height: 38px;
        border-radius: 100%;
    }

    h4 {
        color: var(--light-color);
    }
}
